.box {
  width: 300px;
  height: 300px;
  border: 4px solid black;
  margin: 10px 10px;
  text-align: center;
}

.box-screen {
  display: flex;
  justify-content: center;
}

.player-name h2 {
  font-size: 1.5em;
  /* padding-top: -50px; */
}

.game-img {
  /* width: 50%; */
  width: 150px;
  height: auto;
  
}

.user-pick-img {
  width: 50px;
  cursor: pointer;
}

.pick-area {
  /* border: 1px solid blue; */
  text-align: center;
}

.win {
  border: 10px solid green;
  color:green;
}

.loser {
  border: 10px solid red;
  color: red;
}

.tie {
  border: 10px solid black;
  color: black;
}