body{
    /* 일반적으로 body 에는 margin이 8px이 들어간다. 따라서 이를 제거한 후 작업
    background-image: url("images/background.jpg");
    반복을 막는 법
    background-repeat: no-repeat;

    화면을 덮도록 확장 = background-size

    ### Step 2: 가운데 박스 만들어 주기 (Bootstrap - Container 이용) 
    # 반응형 
    bootstrap 웹사이트 방문하여 v5.1.3을 보면 CSS
    CSS

    */
    margin: 0;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: white;
    min-height: 100vh;
    /* ### Step 3-1: 구글에 box shadow css 라고 검색 후 CSS Scan 을 따라가면 원하는 박스를 선택하여 복사해 와서 붙여넣을 수 있다. 
    */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task-area {
    /* 섹션에 박스 채우기 */ 
    border: 1px solid lightgray;
}

.task-tabs{
    position: relative;
    display: flex;
    border-bottom: 1px solid lightgray;
}

/* ### Step 4: task-tabs 아래에 있는 div에다가 css주기  
*/
.task-tabs div{
    padding: 1em;
}

/* ### Step 5: 메뉴 밑줄 그리기 
    1. index.html 의 메뉴 윗줄에 div tag , 단 다른 div tag와의 구분을 위해 ID를 주었고
    이를 위해 #을 붙여야 한다. 
*/

/* position: absolute를 하려면 상위 tag인 div 즉 task-tabs div tag에서 position: relative;를 주어야 한다. 
    position: absolute 는 절대값으로 계산하는데 어디를 기준점으로 할꺼냐? body? 어떤 컨테이너? 섹션? 
    즉 모두 가 들어있는 div 위 중에서 박스를 찾아야 한다. 
    또한 div의 기본 padding값이 있는데 이를 0으로 만든다. 
*/
#under-line{
    height: 4px;
    background-color: pink;
    position: absolute;
    width: 48px;
    left: 0px;
    top: 52px;
    padding: 0px;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.task-done{
    text-decoration: line-through;
}