body{
    margin: 0;
}
.main{
    border: 5px solid darkgray;
    display: flex;
    /* flex-direction: column; */
    /* height: 100vh; */
}

.box{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    /* margin-right: 10px; */
}


